@model TopEmployee.ViewModel.EmployeeViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm("Save", "Employee"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Employee.Name)
        @Html.TextBoxFor(m => m.Employee.Name, new { @class = "form-control input-validation-error" })
        @Html.ValidationMessageFor(m => m.Employee.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Employee.Birthdate)
        @Html.TextBoxFor(m => m.Employee.Birthdate, "{0:dd.MM.yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Employee.Username)
        @Html.TextBoxFor(m => m.Employee.Username, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Employee.Password)
        @Html.TextBoxFor(m => m.Employee.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

}
